.App {
  background-color: #13344e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 10vmin;
  margin-top: 15px;
  margin-left: 15px;
  position: relative; 
  z-index: 2;  
}

h1{
  font-size: 100px;
  color: white;
  text-align: center;
}
.App-topPage-rectangle {
  width: 100%;
  height: 100px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}


