.App {
  background-color: #13344e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* CSS for Menu bar at top */

.App-topPage{
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.App-extraRectangle {
  width: 100%;
  height: 10px;
  background-color: #abd0d9;
  z-index: 2;
  display: flex;
}

.App-topPage-rectangle {
  width: 100%;
  height: 100px;
  background-color: black;
  z-index: 1;
  display: flex;
}

.App-logo {
  height: 10vmin;
  padding: 20px;
  padding-left: 50px;
  z-index: 2;  
}

.App-socials {
  margin-left: auto;
  padding-top: 20px;
  padding-right: 50px;
}

.App-insta {
  height: 7vmin;
  padding-bottom: 2px;
  z-index:  2;  
}

.App-tiktok {
  height: 8vmin;
  z-index:  2;  
}

/*CSS for home section/intro section of page*/

h1{
  font-size: 100px;
  text-align: center;
  color: white;
  font-family: 'IMFellEnglishSC-Regular', serif;
}

h2{
  font-size: 50px;
  position: relative;
  top: -20px;
  text-align: center;
  color: white;
  font-family: 'IMFellEnglishSC-Regular', serif;
}

/*Framing for entire board picture*/
.gotham-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 12px;
  border-radius: 20px;
  background-color: black;
  box-shadow: 0 0 30px black;
  max-width: 700px;
  border: 2px solid #444; /* subtle border */
}

.gotham-frame::before,
.gotham-frame::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
   border: 2px solid #FFD700; /* gold corners */
  border-radius: 4px;
}

.gotham-frame::before {
  top: -1px;
  left: -1px;
  border-right: none;
  border-bottom: none;
}

.gotham-frame::after {
  bottom: -1px;
  right: -1px;
  border-left: none;
  border-top: none;
}

.gotham-frame img {
  border-radius: 12px;
  width: 100%;
  display: block;
}

.gotham-frame:hover {
  box-shadow: 0 0 50px #fffdd0;
  transition: box-shadow 0.3s;
}

/*CSS for all section titles*/
.aboutTitle, .directorsTitle, .boardTitle, .partnerTitle{
  position: relative;
  padding-top: 50px;
  font-size: 80px;
  text-align: center;
  color: white;
  font-family: 'IMFellEnglishSC-Regular', serif;
}

/*CSS for about section word blurb*/

.aboutSection-rectangle, 
.boardSection-rectangle, .partnerSection-rectangle{
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px white;
  color: black;
  text-align: center;
  width: 60%;
  background-color: #abd0d9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*CSS for directors image section of page*/

.App-tishaImage, .App-paviImage {
  width: 40%;
  height: 40%;
  margin: 20px;
  margin-left: 90px;
}

.App-tishaImage:hover,
.App-paviImage:hover {
  box-shadow: 0px 0px 50px 10px white;
  transition: box-shadow 0.3s;
}

/*CSS for board images section of page*/
.boardCarousel {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 0 8px #fffdd0;
}
.boardCarousel .carousel .slide img {
  border-radius: 12px;
  object-fit: cover;
  width: 100%;
  height: auto;
}

