.App {
  background-color: #13344e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* CSS for Menu bar at top */

.App-topPage{
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}

.App-extraRectangle {
  width: 100%;
  height: 10px;
  background-color: #abd0d9;
  z-index: 2;
  display: flex;
}

.App-topPage-rectangle {
  width: 100%;
  height: 100px;
  background-color: black;
  z-index: 1;
  display: flex;
}

.App-logo {
  height: 10vmin;
  padding: 20px;
  padding-left: 50px;
  z-index: 2;  
}

.App-socials {
  margin-left: auto;
  padding-top: 20px;
  padding-right: 50px;
}

.App-insta {
  height: 7vmin;
  padding-bottom: 2px;
  z-index:  2;  
}

.App-tiktok {
  height: 8vmin;
  z-index:  2;  
}

/*CSS for home section/intro section of page*/

h1{
  font-size: 100px;
  text-align: center;
  color: white;
  font-family: 'IMFellEnglishSC-Regular', serif;
}

h2{
  font-size: 50px;
  position: relative;
  top: -20px;
  text-align: center;
  color: white;
  font-family: 'IMFellEnglishSC-Regular', serif;
}

.aboutTitle, .directorsTitle, .boardTitle, .partnerTitle{
  position: relative;
  padding-top: 50px;
  font-size: 80px;
  text-align: center;
  color: white;
  font-family: 'IMFellEnglishSC-Regular', serif;
}

.aboutSection-rectangle, 
.boardSection-rectangle, .partnerSection-rectangle{
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px white;
  color: black;
  text-align: center;
  width: 60%;
  background-color: #abd0d9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.directorsSection-rectangle{
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 50px white;
  color: black;
  text-align: center;
  width: 60%;
  background-color: #abd0d9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

