.App {
  background-color: #13344e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 10vmin;
  margin-top: 15px;
  margin-left: 25px;
  z-index: 2;  
}

.App-socials {
  margin-left: 1000px;
}

.App-insta {
  height: 7vmin;
  margin-top: 5px;
  padding: 20px;
  z-index:  2;  
}

.App-tiktok {
  height: 8vmin;
  padding: 20px;
  z-index:  2;  
}

h1{
  font-size: 100px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'IMFellEnglishSC-Regular', serif;
}
.App-topPage-rectangle {
  width: 100%;
  height: 100px;
  background-color: black;
  z-index: 1;
  display: flex;
}

