.navbar {
  z-index: 3;
  display: flex;
  padding-right: 20px;
}

.navbar-lineIcon img {
  width: 100px;
  height: 100px;
}

.navbar-links {
  top: 100px;
  position: fixed;
  right: 0;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 150px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 8px black;
}

.navbar-links a {
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  width: 100%;
  text-align: right;
}

.navbar-links a:hover {
  background: #13344e;
  width: 71%;
}